<h1 *ngIf="isAddMode">Nova solicitação</h1>
<h1 *ngIf="!isAddMode">Edit User</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label>Código</label>
            <input type="text" formControlName="codigo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.codigo.errors }" />
            <div *ngIf="submitted && f.codigo.errors" class="invalid-feedback">
                <div *ngIf="f.codigo.errors.required">Digite um código!</div>
            </div>
        </div>
        <div class="form-group col">
            <label>Solicitante</label>
            <input type="text" formControlName="solicitante" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.solicitante.errors }" />
            <div *ngIf="submitted && f.solicitante.errors" class="invalid-feedback">
                <div *ngIf="f.solicitante.errors.required">Digite um solicitante!</div>
            </div>
        </div>
        <div class="form-group col-5">
            <label>Setor</label>
            <input type="text" formControlName="setor" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.setor.errors }" />
            <div *ngIf="submitted && f.setor.errors" class="invalid-feedback">
                <div *ngIf="f.setor.errors.required">Digite um setor!</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-2">
            <label>Data de criação</label>
            <input type="date" formControlName="dataDeCriacao" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dataDeCriacao.errors }" />
            <div *ngIf="submitted && f.dataDeCriacao.errors" class="invalid-feedback">
                <div *ngIf="f.dataDeCriacao.errors.required">Insira uma data de criação!</div>
            </div>
        </div>
        <div class="form-group col-2">
            <label>Prazo de criação</label>
            <input type="date" formControlName="prazoDeCotacao" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prazoDeCotacao.errors }" />
            <div *ngIf="submitted && f.prazoDeCotacao.errors" class="invalid-feedback">
                <div *ngIf="f.prazoDeCotacao.errors.required">Insira um prazo de criação!</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Salvar
        </button>
        <a routerLink="/solicitacao" class="btn btn-link">Cancelar</a>
    </div>
</form>