<h1>Solicitação de Compra</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle mr-2" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm4 9H9v3a1 1 0 0 1-2 0V9H4a1 1 0 0 1 0-2h3V4a1 1 0 0 1 2 0v3h3a1 1 0 0 1 0 2z"/>
    </svg>
    Nova Solicitação
</a>

<table class="table table-striped">
    <thead>
        <tr style="align-items: end">
            <th>Código</th>
            <th>Prioridade</th>
            <th>Solicitante</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Setor</th>
            <th>Data Criação</th>
            <th>Prazo para Cotação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let solicitacao of solicitacoes">
            <td>
                <a (click)="irParaDetalhes(solicitacao.id)" routerLink="detalhes/{{solicitacao.id}}" 
                   style="cursor: pointer; text-decoration: underline; color: blue;">
                  {{solicitacao.id}}
                </a>
              </td>
            <td>{{solicitacao.prioridade}}</td>
            <td>{{solicitacao.solicitante}}</td>
            <td>{{solicitacao.produto}}</td>
            <td>{{solicitacao.quantidade}}</td>
            <td>{{solicitacao.setor}}</td>
            <td>{{solicitacao.dataDeCriacao}}</td>
            <td>{{solicitacao.prazoDeCotacao}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{solicitacao.id}}" class="btn btn-sm btn-primary mr-1">Editar</a>
                <button (click)="deleteSolicitacao(solicitacao.id)" class="btn btn-sm btn-danger btn-delete-solicitacao" [disabled]="solicitacao.isDeleting">
                    <span *ngIf="solicitacao.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!solicitacao.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!solicitacoes">
            <td colspan="6" class="text-center">
                <span class="spinner-border spinner-border-lg align-middle"></span>
            </td>
        </tr>
    </tbody>
</table>